<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
                <form action="/users/perfil" method="get">
                <div><input type="email" placeholder="Email:"> </div>
                <div><input type="password" placeholder="Constraseña:"> </div>
                <div> Recordame!<input type="checkbox"  placeholder="Recordame" > </div>
                <button>Ingresar</button>
            </form>

                <br><br>
                <p>¿No tienes una cuenta? 
                    <a href="/users/register">Crear cuenta</a>
                </p>
			</h2>


<%- include('./partials/footer') %>

