<%- include('./partials/head') %>
<%- include('./partials/headerLogueado') %>

 <!-- Novedades -->
 <div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
            <form action="/users/profile" method="get">
                <div><input type="text" placeholder="Imagen" > </div>
                <div><input type="text" placeholder="Nombre del producto:"> </div>
                <div><input type="text" placeholder="Descripcion:"> </div>
                <button class="verdaro">Agregar Producto</button>
            </form>
        </h2>

<%- include('./partials/footer') %>