<%- include('./partials/head') %>
<%- include('./partials/headerLogueado') %>

 <!-- Novedades -->
 <div class="container products-wrapper">
    <div class="row">
    
            <h2 class="col-12 centrarlo">
            <form class="registrarme" action="/product/add" method="post">
                <h2>Agregar Producto</h2>
                <div><input type="hidden" placeholder="Imagen" name="usuario_id" value="<%= locals.user.id %>"> </div>
                <div><input type="text" placeholder="Imagen" name="img"> </div>
                <div><input type="text" placeholder="Nombre del producto:" name="nombre"> </div>
                <div><input type="text" placeholder="Descripcion:" name="descripcion"> </div>
                <button type="submit" class="verdaro">Agregar Producto</button>
            </form>
        </h2>

    </div>
</div>

<%- include('./partials/footer') %>