<%- include('./partials/head') %>
<%- include('./partials/header') %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> <i> <br> 
            <form action="" method="get">
            <div><input type="text" placeholder="Nombre completo:" > </div>
            <div><input type="email" placeholder="Email:"> </div>
            <div><input type="password" placeholder="Constraseña:"> </div>
            <div><input type="date" placeholder="Fecha de nacimiento:"> </div>
            <div><input type="number" placeholder="Numero de documento:"> </div>
            <div><input type="text" placeholder="Foto de Perfil:"> </div>
            <button>Registrarme</button>
        </form>
        <br><br>
        <p>¿Ya tienes cuenta?
            <a href="/users/login">Inicia sesion</a>
        </p>
        


        </h2>

<%- include('./partials/footer') %>