<%- include('./partials/head') %>
<%- include('./partials/header') %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> <i> <br> 
            <form action="/users/login" method="post">
            <div><input type="text" name="nombre" placeholder="Nombre completo:" > </div>
            <div><input type="email" name="mail" placeholder="Email:"> </div>
            <div><input type="password"name="contrasenia" placeholder="Constraseña:"> </div>
            <div><input type="date" name="fecha_nacimiento" placeholder="Fecha de nacimiento:"> </div>
            <div><input type="number"name="dni" placeholder="Numero de documento:"> </div>
            <div><input type="text" name="foto_perfil"placeholder="Foto de Perfil:"> </div>
            <button class="verdaro">Registrarme</button>
        </form>
        <br><br>
        <p>¿Ya tienes cuenta?
            <a href="/users/login" class="subrayado">Inicia sesion</a>
        </p>
        


        </h2>

<%- include('./partials/footer') %>