<%- include('./partials/head') %>
<%- include('./partials/header') %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
    
        <!-- Show the "ultimos" products -->
        <h2 class="col-12 centrarlo"> <i> <br> 
            <form class="registrarme" action="/users/login" method="post">
                <h2>Registrate</h2>
            <div><input type="text" name="nombre" placeholder="Nombre completo:" > </div>
            <div><input type="email" name="mail" placeholder="Email:"> </div>
            <div><input type="password"name="contrasenia" placeholder="Constraseña:"> </div>
            <div><input type="date" name="fecha_nacimiento" placeholder="Fecha de nacimiento:"> </div>
            <div><input type="number"name="dni" placeholder="Numero de documento:"> </div>
            <div><input type="text" name="foto_perfil" placeholder="Foto de Perfil:"> </div>
            <br>
            <button class="verdaro">Registrarme</button>
        </form>
        <br><br>
        <p style="display: flex;justify-content: center;">¿Ya tienes cuenta? 
            <a href="/users/login" class="subrayado">  Inicia sesion</a>
        </p>
        


        </h2>

<%- include('./partials/footer') %>