<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i> <i class="fas fa-code fa-flip flipar"></i>
                    <h2>Bautista Kamijo</h2>
                    <p>Estudiante de Negocios Digitales en la Universidad de San Andres</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="titulo-footer">
                    <i class="fas fa-futbol fa-bounce brincar"> </i>
                    <h2>AzamFutbol</h2>
                    <p>Vivimos del futbol</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i> <i class="fas fa-code fa-flip flipar"></i>
                    <h2>Ariel Azambuja</h2>
                    <p>Estudiante de Negocios Digitales en la Universidad de San Andres</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
</body>	
</html>